body { 
    background-image: url('https://github.com/fengning0123-ai/cap-survival2026/blob/main/image/bg-system.jpg?raw=true'); 
    background-color: #0b0c10;
    background-size: cover; 
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.scan-line {
    width: 100%; height: 3px; background: #45f3ff;
    position: absolute; top: 0; left: 0; opacity: 0.6;
    animation: scan 2.5s linear infinite;
}
@keyframes scan { 
    0% { top: 0; } 
    100% { top: 100%; } 
}

.blink { animation: blinker 1s linear infinite; }
@keyframes blinker { 50% { opacity: 0; } }